@import "./config";
body {
  background-color: $primary-color;
}
.SignIn {
  @include Container(5vh 18.5vw, flex);
  .form {
    @include forms(1);
    input {
      @include input();
    }
  }
  .forgot-password {
    padding: 0vh 0vw 1.5vh 11vw;
    font-size: 0.9vw;
    font-weight: bold;
    font-family: $primary-font;
    color: rgb(47, 47, 134);
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.7s;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}
.img {
  @include images();
}
.SignUp {
  @include Container(10vh 33.5vw, default);
  .form {
    @include forms(default);
    input {
      @include input();
    }
  }
}

.reset {
  @include Container(4vh 34vw, default);
  .reset-from {
    @include forms(default);
    input {
      @include input();
    }
  }
  .send-email,
  .back-to-sign-in {
    margin: 1vh 9vw 2vh 9vw;
    padding: 1.5vh 1.2vw;
    transition: 0.6s;
    outline: none;
    font-weight: bold;
    background-color: rgb(119, 119, 190);
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: maroon;
      cursor: pointer;
    }
  }
}

.goggle-sign-in {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3vh 7vw 1.5vh 7vw;

  color: maroon;
  div {
    font-size: 4vh;
  }
  .google-btn {
    margin: 0 0 0 0;
    padding-top: 0.7vh;
    font-size: 1.15vw;
    font-family: $primary-font;
    transition: 0.7s;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
  div {
    cursor: pointer;
  }
}
.submit-btn {
  background-color: rgb(119, 119, 190);
  height: 5vh;
  width: 22.5vw;
  color: #fbf7f7;
  outline: none;
  padding: 1.3vh 1vw;
  margin: 0vh 0vw 0vh 3vw;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: maroon;
  }
}
.privacy {
  text-align: center;
  margin: 3vh 0vw 1.7vh 0vw;
  padding: auto auto;
  font-size: 1.9vh;
  color: gray;
  font-family: $primary-font;
}

h5 {
  margin: 2vh 0 0vh 0;
  font-size: 4vw;
  text-align: center;
  letter-spacing: 0.09cm;
  font-family: "Cookie", cursive;
  font-weight: bolder;
}
.alternative-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vh 0vw;
  background-color: white;
  padding: 6vh 2vw;
  border: 1px solid gray;
}
.download-options {
  margin: 2vh 4vw 0vh 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}
